/* ========================Global Styles================== */
:root {
  --main-color: #212121;
  --alt-color: #2196f3;
  --description-color: #757575;
  --header-color: #ffffff;
  --icon-links: #afb1b8;
}

body {
  font-family: Roboto, sans-serif;
  background: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* border: 1px solid red; */
}
/* =========================Header========================= */
.header-menu {
  display: flex;
  align-items: center;
  padding: 24px 0 25px;
}

.current-page::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -32px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.header-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--alt-color);
  margin-right: 93px;
}

.header-logo-part {
  color: var(--main-color);
}

.header-list {
  display: flex;
}

.header-nav-item {
  position: relative;
  margin-right: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.envelope-icon {
  margin-right: 10px;
  fill: var(--description-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-icon {
  margin-right: 10px;
  fill: var(--description-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--description-color);
  margin-left: 50px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus,
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--alt-color);
}

.header-contact-link:hover > .envelope-icon,
.header-contact-link:focus > .envelope-icon,
.header-contact-link:hover > .phone-icon,
.header-contact-link:focus > .phone-icon {
  fill: var(--alt-color);
}

/* =========================Hero========================= */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero_background.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1600px 600px;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-color);
  max-width: 696px;
  margin: 0 auto 30px;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--header-color);
  cursor: pointer;
  background: var(--alt-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border-color: transparent;
  margin: 0 auto;
}

/* =========================Hero Modal========================= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visability;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-icon {
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .close-icon {
  fill: var(--alt-color);
}

.modal-close:hover .close-icon {
  fill: var(--alt-color);
}

.order-form {
  margin: 40px;
}

.order-form-field {
  margin-bottom: 10px;
}

.order-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.order-item-name {
  position: relative;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.order-input-wrap {
  position: relative;
}

.order-textarea-wrap {
  margin-top: 4px;
  margin-bottom: 20px;
}

.order-item-comment {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding-bottom: 4px;
  color: #757575;
}

.order-input-comment {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.order-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition-property: border-color:
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-input:focus + .input-icon {
  fill: var(--alt-color);
}

.order-input:focus {
  border-color: var(--alt-color);
}

.order-input-comment::placeholder {
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 7px;
}
.policy-check:checked + .check-text::before {
  border: none;
  background-image: url(../images/checkmark-icon.svg);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.policy-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.policy-link {
  color: var(--alt-color);
}

.order-modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--header-color);
  background-color: var(--alt-color);
  width: 200px;
  height: 50px;
  margin-top: 30px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.comand-btn:hover,
.comand-btn:focus {
  background-color: #188ce8;
}
/* =========================About Us========================= */
.about-us {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.about-us-icons-list {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.icons-list-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  height: 120px;
  background-color: #f5f4fa;
}

.about-us-icon {
  margin: 25px 100px;
}

.about-us-list {
  display: flex;
  justify-content: space-between;
}

.about-us-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}

.about-us-item-desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-color);
  max-width: 270px;
}

/* =========================What We Do========================= */
.what-we-do {
  padding-bottom: 94px;
}

.what-we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  /* margin: 0 auto 50px; */
  min-width: 376px;
  padding: 0 394px;
  margin-bottom: 50px;
}

.img-row {
  display: flex;
}

.img-row-item {
  position: relative;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  z-index: -1;
}

.img-row-item:nth-child(3n) {
  margin-right: 0;
}

.what-we-do-top {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 70px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
}

.whatwd-top-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
}
/* =========================Our Team========================= */
.our-team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  padding: 0 450px;
  margin-bottom: 50px;
}

.our-team-list {
  display: flex;
}

.our-team-list-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  background: var(--header-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-list-item:nth-child(4n) {
  margin-right: 0;
}

.our-team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  padding-top: 30px;
  margin-bottom: 10px;
}

.our-team-item-descr {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-color);
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  margin: 0 32px;
  padding-bottom: 30px;
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
  fill: var(--icon-links);
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--alt-color);
}

.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
  fill: var(--header-color);
}

/* ========================Regular Clients=============== */
.regular-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular-clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  padding: 0 386px;
  margin-bottom: 50px;
}

.regular-clients-list {
  display: flex;
}

.regular-clients-item + .regular-clients-item {
  margin-left: 30px;
}

.regular-clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-links);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-clients-icon {
  fill: var(--icon-links);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-clients-link:hover,
.regular-clients-link:focus {
  border-color: var(--alt-color);
}

.regular-clients-link:hover .regular-clients-icon,
.regular-clients-link:focus .regular-clients-icon {
  fill: var(--alt-color);
}
/* =========================Footer========================= */
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-wrap {
  display: flex;
}

.header-logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--alt-color);
}

.header-logo-part-alt {
  color: var(--header-color);
}

.footer-list {
  font-style: normal;
  margin-top: 20px;
  margin-right: 70px;
  padding: 0;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-map-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-map-link:hover,
.footer-map-link:focus,
.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--alt-color);
}

.join-wrap {
  margin-top: 10px;
  margin-right: 93px;
}

.join-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 20px;
}

.join-list {
  display: flex;
}

.join-social-item + .join-social-item {
  margin-left: 10px;
}

.join-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff1a;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join-social-icon {
  fill: var(--header-color);
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join-social-link:hover,
.join-social-link:focus {
  background-color: var(--alt-color);
}

.join-social-link:hover .team-social-icon,
.join-social-link:focus .team-social-icon {
  fill: var(--header-color);
}

/* ====================Footer Subscribe====================== */
.footer-subscribe-wrap {
  margin-top: 10px;
}

.subscribe-filed-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
}

.subscribe-field {
  width: 358px;
  height: 50px;
  margin-top: 20px;
  margin-right: 16px;
  padding: 16px 15px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  display: inline-flex;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--header-color);
  background-color: var(--alt-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.subscribe-btn-icon {
  fill: var(--header-color);
  margin-left: 10px;
}
/* ====================Portfolio Page====================== */

.header {
  border-bottom: 1px solid #ececec;
}

.portfolio-list {
  padding-top: 94px;
  padding-bottom: 50px;
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
}

.portfolio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;
  box-shadow: none;
  padding: 6px 22px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn-item {
  margin-right: 8px;
}

.portfolio-btn-item:last-child {
  margin-right: 0;
}

.portfolio-button:hover,
.portfolio-button:focus {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  background-color: var(--alt-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* ====================Portfolio Box====================== */
.portfolio-box {
  padding-bottom: 94px;
}

.portfolio-box-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-box-item {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box-item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-box-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-box-align {
  padding: 20px 24px;
}

.portfolio-img-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-img-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--header-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box-item:hover .portfolio-img-text {
  transform: translateY(0);
}

.portfolio-box-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.portfolio-box-item-desc {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

.portfolio-box-item:hover,
.portfolio-box-item:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
