/* ========================Global Styles================== */
:root {
  --main-color: #212121;
  --alt-color: #2196f3;
  --description-color: #757575;
  --header-color: #ffffff;
}

body {
  font-family: Roboto, sans-serif;
  background: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200;
  padding: 0 15px;
  margin: 0 auto;
}
/* =========================Header========================= */
.header-menu {
  display: flex;
  align-items: center;
  padding: 24px 0 25px;
}

.header-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--alt-color);
  margin-right: 93px;
}

.header-logo-part {
  color: var(--main-color);
}

.header-list {
  display: flex;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-right: 50px;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--description-color);
  margin-left: 50px;
}

.header-link:hover,
.header-link:focus,
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--alt-color);
}

/* =========================Hero========================= */
.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-color);
  max-width: 696px;
  margin: 0 auto 30px;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--header-color);
  cursor: pointer;
  background: var(--alt-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  margin: 0 auto;
}

/* =========================About Us========================= */
.about-us {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.about-us-list {
  display: flex;
  justify-content: space-between;
}

.about-us-item-title {
  font-weight: 70;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}

.about-us-item-desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-color);
  max-width: 270px;
}

/* =========================What We Do========================= */
.what-we-do {
  padding-bottom: 94px;
}

.what-we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  /* margin: 0 auto 50px; */
  min-width: 376px;
  padding: 0 394px;
  margin-bottom: 50px;
}

.img-row {
  display: flex;
}

.img-row-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.img-row-item:nth-child(3n) {
  margin-right: 0;
}
/* =========================Our Team========================= */
.our-team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  padding: 0 453px;
  margin-bottom: 50px;
}

.our-team-list {
  display: flex;
}

.our-team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--header-color);
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.our-team-list-item:nth-child(4n) {
  margin-right: 0;
}

.our-team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.our-team-item-descr {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

/* =========================Footer========================= */
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.header-logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--alt-color);
}

.header-logo-part-alt {
  color: var(--header-color);
}

.footer-list {
  font-style: normal;
  margin-top: 20px;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-map-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

.footer-contact-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-map-link:hover,
.footer-map-link:focus,
.footer-contact-link:hover,
footer-contact-link:focus {
  color: var(--alt-color);
}

/* ====================Portfolio Page====================== */
.portfolio-list {
  padding-top: 94px;
  padding-bottom: 50px;
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
}

.portfolio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border-color: #f5f4fa;
  padding: 6px 22px;
}

.portfolio-btn-item {
  margin-right: 8px;
}

.portfolio-btn-item:last-child {
  margin-right: 0;
}

.portfolio-button:hover,
.portfolio-button:focus {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  background: var(--alt-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* ====================Portfolio Box====================== */
.portfolio-box {
  padding-bottom: 94px;
}

.portfolio-box-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-box-item {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-box-item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-box-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-box-align {
  padding: 20px 24px;
}

.portfolio-box-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.portfolio-box-item-desc {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
