.about-us {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desk {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.about-us-list {
  @include tab {
    display: flex;
    flex-wrap: wrap;
  }
  @include desk {
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-bottom: 94px;
  }
}

.about-us-list__item {
  width: 100%;
  @include tab {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    &:nth-child(2n) {
      margin-right: 0px;
    }
  }
  @include desk {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
    height: 120px;
    &:nth-child(2n) {
      margin-right: 30px;
    }
  }

  margin-bottom: 30px;
}

.about-us-icon__wrap {
  background-color: #f5f4fa;
  margin-bottom: 30px;
  .about-us__icon {
    @media screen and (max-width: 479px) {
      margin: auto;
    }
    margin: 25px 192px;
    @include tab {
      margin: 25px 142px;
    }
    @include desk {
      margin: 25px 100px;
    }
  }
}

.about-us__item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 10px;
}

.about-us__item-desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--description-color);
}
