.our-team {
  background: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
  @include desk {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 30px;
  @include desk {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.our-team__list {
  @include tab {
    display: flex;
    flex-wrap: wrap;
  }
}

.our-team-list__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  background: var(--header-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @include tab {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    &:nth-child(2n) {
      margin-right: 0px;
    }
  }
  @include desk {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
    &:nth-child(2n) {
      margin-right: 30px;
    }
    &:nth-child(4n) {
      margin-right: 0px;
    }
    margin-bottom: 0;
  }
}

.our-team__item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}

.our-team__item-descr {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-color);
  margin-bottom: 16px;
}

.team-social__list {
  display: flex;
  justify-content: center;
  @include desk {
    margin: 0 32px;
  }
}

.team-social__item + .team-social__item {
  margin-left: 10px;
}

.team-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--alt-color);
  }
  &:hover .team-social__icon,
  &:focus .team-social__icon {
    fill: var(--header-color);
  }
}

.team-social__icon {
  fill: var(--icon-links);
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item-descr {
  padding-top: 30px;
  padding-bottom: 24px;
  @include desk {
    padding-bottom: 30px;
  }
}
