.header {
  border-bottom: 1px solid #ececec;
}

.portfolio__list {
  padding-top: 94px;
  padding-bottom: 50px;
}

.portfolio__btn-list {
  display: flex;
  justify-content: center;
}

.portfolio__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;
  box-shadow: none;
  padding: 6px 22px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
    background-color: var(--alt-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

.portfolio__btn-item {
  margin-right: 8px;
}

.portfolio__btn-item:last-child {
  margin-right: 0;
}
