.portfolio-box {
    padding-bottom: 94px;
}

.portfolio-box-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-box-item {
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box-item:nth-child(3n) {
    margin-right: 0px;
}

.portfolio-box-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio-box-align {
    padding: 20px 24px;
}

.portfolio-img-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-img-text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--header-color);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box-item:hover .portfolio-img-text {
    transform: translateY(0);
}

.portfolio-box-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
}

.portfolio-box-item-desc {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--description-color);
}

.portfolio-box-item:hover,
.portfolio-box-item:focus {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
