.regular-clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desk {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.regular-clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 30px;
  @include desk {
    font-size: 36px;
    line-height: 1.16;
    padding: 0 137px;
    padding: 0 450px;
    margin-bottom: 50px;
  }
}

.regular-clients__list {
  display: flex;
  flex-wrap: wrap;
  @include desk {
    flex-wrap: nowrap;
  }
}

.regular-clients__item {
  display: flex;
  @include mob {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(2n) {
      margin-right: 0px;
    }
  }
  @include tab {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    &:nth-child(2n) {
      margin-right: 30px;
    }
    &:nth-child(3n) {
      margin-right: 0px;
    }
  }
  @include desk {
    &:nth-child(3n) {
      margin-right: 30px;
    }
  }
}

.regular-clients__link {
  display: inherit;
  justify-content: center;
  align-items: center;
  width: 210px;
  @include tab {
    width: 226px;
  }
  @include desk {
    width: 170px;
  }
  height: 92px;
  border: 1px solid var(--icon-links);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--alt-color);
  }
  &:hover .regular-clients__icon,
  &:focus .regular-clients__icon {
    fill: var(--alt-color);
  }
}

.regular-clients__icon {
  fill: var(--icon-links);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
