.what-we-do {
    padding-bottom: 94px;
}

.what-we-do-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    /* margin: 0 auto 50px; */
    min-width: 376px;
    padding: 0 394px;
    margin-bottom: 50px;
}

.img-row {
    display: flex;
}

.img-row-item {
    position: relative;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    z-index: -1;
}

.img-row-item:nth-child(3n) {
    margin-right: 0;
}

.what-we-do-top {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 70px;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
}

.whatwd-top-text {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-color);
}